{% assign site_logo = site.logo | relative_url %}
{% assign logo_dark = site.logo_dark | relative_url %}

<header id="masthead">
  <div class="inner">
    <div class="title-area">
      {% if page.url == '/' %}
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}
            <picture>
              <source srcset="{{ logo_dark }}" media="(prefers-color-scheme:dark)">
              <img src="{{ site_logo }}" alt="" class="site-logo">
            </picture>
            {% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </h1>
      {% else %}
        <p class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}
            <picture>
              <source srcset="{{ logo_dark }}" media="(prefers-color-scheme:dark)">
              <img src="{{ site_logo }}" alt="" class="site-logo">
            </picture>
            {% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</header>
